@charset "utf-8";
/* CSS Document */

body{ /*background:#fcc;*/font-size: 14px }
h3{margin:0.2em 0;}
header{height: 65px; }
.navbar-inverse .navbar-nav > li > a {
    color: #777;padding-top:20px;padding-bottom:20px ;font-size:15px; 
}
.navbar-inverse {
  background-color: #F7FAFF;
  border-top:5px solid #129bfe;
  border-bottom:1px #ccc solid;
  box-shadow: 1px 1px 5px #999;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus 
{background:none !important; color:#555;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #129bfe;
/* background:#444;*/
}
.navbar a.btn.btn-info.btn-social.btn-large:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

.navbar a.btn.btn-success.btn-social.btn-large:hover {
   background-color: #449d44;
  border-color: #398439;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
 
    /*color: #111;
    background-color: #fff;*/
}
/*.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}*/

.jumbotron{
   background-image:url('../assets/images/dotted.png');
  color: #ffffff;
  background-attachment: fixed;
    background-color:none !important;
}

.jumbotron p{
  text-align: center;
  color:#111;
    padding: 15px 0 20px;
    font-size:19px;
}

.jumbotron .media{
    /*margin: 50px 0;*/
}
.jumbotron .media-body h1{
  text-align:center;
    margin-bottom: 10px;
    font-size:50px;
    color:#333;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
section.top{margin-top:3.5em;}
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.list-group-item  { text-align:left}

.btn-sign {margin-top: 8px; margin-right: 10px;}

.btn-social :first-child {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 36px;
    line-height: 34px;
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px;
  }
.col-centered .btn {
   
    padding: 6px 40px;
    margin-bottom: 0px;
    font-size: 20px;
    
}
.btn-facebook {
    color: #FFF;
    background-color: #3B5998;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-block {/*width:auto*/}
#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
  margin:5px;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #c52d2f;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/*end for portfolio*/
.main-sec-cat{}
.title{text-align: center; margin:0.6em;}
.content-title{
border-bottom: 2px solid rgb(239, 244, 252);
border-top: 3px solid #129bfe;
color:#129BFE;
/*box-shadow: 1px 1px 5px #999;*/
background-color: #F7FAFF;
border-radius: 1px 1px 0 0;
padding: 8px 0 5px 8px;
margin-bottom: 5px;
}
.camp-title{font-size:1.3em; line-height: 1.4em; font-weight: bold; margin-bottom: 0.4em; height:45px; padding:0 8px;}
.camp-title a{color:#5cb85c; text-decoration: none}
.camp-banner{/*height:15em;*/background:#f1f1f1; padding:0.5em; }
.camp-cat{ padding:0 8px;margin-bottom: 0.4em}
.camp-cat a{font-size:1.2em; color:#129bfe; text-decoration: none}
.progress{height:15px; margin: 0.5em 0 0.8em; }
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.box_inner {
    position: relative;
    border: 1px solid #E7DFD1;
    padding:2px;
}
.recent-box{overflow:hidden}
.recent-box .col-md-4{padding:0;margin-right:0px;margin-bottom:10px}
.recent-box .col-md-4 .camp-img{width:100%; height:15em;}
.desc { border-top:1px solid #f1f1f1;background:#fcfcfc}
.desc h5{}

.footer-top {
    /*width: 100%;
    height: auto;
    background-image: url("../assets/images/shadow.png"), url("../assets/images/rc-style-bar.png");
    background-repeat: no-repeat, repeat-x;
    background-position: center 39px, left 34px;
    padding-top: 75px;
    margin-top: 20px;*/
        width: 100%;
    height: auto;
    background-repeat: no-repeat, repeat-x;
    background-position: center top, left 34px;
    padding-top: 100px;
    background-image: url("../assets/images/rc-style.png"), url("../assets/images/rc-style-bar.png");
}
.aliens {
    width: 100%;
    height: auto;
}
.aliens h2 {
    color: #7F7F7F;
    font-family: "Abel",sans-serif;
    font-size: 25px;
    text-shadow: 0px 1px 0px #FFF;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.aliens  .aliens-list li {
    list-style: outside none none;
    padding: 10px 0px;
    background: url("../assets/images/rc-style-bar.png") repeat-x scroll left bottom transparent;
}
.footer-bottom {
    width: 100%;
    height: 100px;
    background-image: url("../assets/images/rc-style-bar.png");
    background-repeat: repeat-x;
    background-position: left 34px;
    padding-top: 60px;
    margin-top: 20px;
}
/**/
.camp-btm {
 /* margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;*/
}
.camp-btm-balance {
  display: block;
}
.camp-btm-balance .currency {
  font-family: "Benton Sans", "Helvetica", "sans-serif";
  font-size: 16px;
  font-weight: bold;
  /*line-height: 26px;*/
  letter-spacing: 0;
  color: #2a2a2a;
}

.camp-btm .col-sm-6{border:1px solid #eee; font-size: 1.1em}
.camp-btm .col-sm-6 span{color:#5cb85c;font-size: 1.5em}
.camp-btm-timeStarted {
  display: block;
  font-family: "Benton Sans", "Helvetica", "sans-serif";
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #6a6a6a;

}
.camp-img {
  /*background:#fff;  padding:5px;*/
}
.campaign-sidebox{padding:10px; border:6px solid #129bfe;height:350px;}
.campaign-donar-desc{   padding:10px; }
.row {margin:0;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {  height: 350px;}
/*carousel slider */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.alert.alert-danger{margin-top:20px;}